div.Content {
  width: 40%;
  margin: -800px 3em 3em auto;
  background-image: url(ruby.png);
  background-attachment: fixed;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 80%;
}

div.Content section h3 {
  font-size: 30px;
}

div.Content section p {
  margin-left: 1em;
  font-size: 18px;
}